# Canoncilization
pydantic>=2.13.4, <3.0.0
orjson>=3.11.9, <4.0.0

# Crypto / Hashing
cryptography>=49.0.0, <50.0.0
web3>=7.16.0, <8.0.0

#Compression
zstandard>=0.22.0, <1.0.0
Brotli>=1.1.0, <2.0.0

# Phash
ImageHash>=4.3.0, <5.0.0
Pillow>=12.2.0, <13.0.0

# Async
aiofiles>=25.1.0, <26.0.0
